* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none!important;
}
a:hover {
    text-decoration: none;
}
/* 导航栏 */
.nav {
    margin: 0;
    padding:10px 80px;
    background-color: rgba(34, 34, 34);
    color: #ccc;
}
.nav small {
    margin-top: 8px;
    float: right;
}
/* 班级信息查询导航 */
.grade {
    /* height: 50px; */
    margin-top: 10px;
    border-bottom: 2px solid rgb(217, 217, 217);
    /* background-color: pink; */
}
.grade li{
    padding: 0 15px;
    float: left;
    font-size: 20px;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.gradeActive {
    background-color: rgb(153, 153, 153);
}
.grade li:hover {
    background-color: rgb(153, 153, 153);
}
/* 班级信息 */
.gradeInfo ul {
    margin-top: 20px;
}
.gradeInfo ul li h3 {
    display: inline-block;
    margin: 0;
}
.gradeInfo ul li span{
    float: right;
}
.gradeInfo ul li:nth-of-type(3) span {
    display: block;
    float: none;
    margin-top: 10px;
    font-size: 14px;
}
.gradeInfo #exampleModal textarea {
    resize: none;
    height: 100px;
}
/* 本班学生信息 */
.stuInfo .form{
    overflow: auto;
    max-height: 300px;
}
.stuInfo tbody tr:nth-child(even) {
    background-color: rgb(217, 237, 247);
}
